/* header section -- nav bar */
.nav{
    display: flex;
     /* position: fixed;p */
    justify-content: space-between;
    z-index: 10000;
}

.nav-bd{
    font-family: "Fira Sans";
    font-size: 2rem;
    font-weight: bold;
}

.signin-btn{
    padding: 10px 20px 10px 20px;
    font-weight: 600;
    border: 1px solid green;
    background-color: white;
    color: green;
    border-radius: 5px;
    margin-top: 1rem;
}

.signin-btn:hover{
    background-color: green;
    color: white;
}

/* Banner Section */
.banner-section{
    height: 35rem;;
    background-color: rgba(0, 106, 80, 0.3);
    border-radius: 1rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}
.banner-text {
    margin-top: 6rem;
}
.banner-text p{
    font-size: 24px;
    color:  green;
    opacity: 0.3;
}
.banner-text h2{
    font-size: 44px;
    font-weight: bold;
}

.banner-img{
    margin-top: 3rem;
}

.banner-section-btn{
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
}
.banner-section-btn:hover{
    background-color: #004D3F;
}

/* piller section */
.piller-section{
    margin-top: 5rem;
}
.piller-section h1{
    font-size: 2rem;
}

.container{
    display: flex;
    justify-content: space-between;
}
.container-border-padding{
    width: 302px;
    height: 244px;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 10px;
}

.container-items{
    padding: 1rem;
    text-align: justify;
}

/* vision section */
.vision-section{
    margin-top: 5rem;
}
.vision-section h1{
    font-size: 2rem;
}
.vision-heading{
    text-align: justify;
}
.vision-border-padding-1{
    width: 410px;
    height: 325px;
    background-color: rgba(84, 144, 245, 0.3);
    /* border: 1px solid gray; */
    border-radius: 10px;
}
.vision-border-padding-2{
    width: 410px;
    height: 325px;
    background-color: rgba(9, 161, 92, 0.3);
    /* border: 1px solid gray; */
    border-radius: 10px;
}
.vision-border-padding-3{
    width: 410px;
    height: 325px;
    background-color: rgba(255, 194, 57, 0.3);
    /* border: 1px solid gray; */
    border-radius: 10px;
}
.vision-items{
    text-align: justify;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.vision-btn-1 {
    padding: 10px 16px 10px 16px;
    font-weight: 600;
    color: white;
    background-color: #5490F5;
    border-radius: 8px;
    border: none;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.vision-btn-1:hover{
    background-color: #062355;
}
.vision-btn-2 {
    padding: 10px 16px 10px 16px;
    font-weight: 600;
    color: white;
    background-color: #09A15C;
    border-radius: 8px;
    border: none;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.vision-btn-2:hover{
    background-color: #043720;
}
.vision-btn-3 {
    padding: 10px 16px 10px 16px;
    font-weight: 600;
    color: white;
    background-color: #FFC239;
    border-radius: 8px;
    border: none;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.vision-btn-3:hover{
    background-color: #a07104;
}

